@model DriveWorks_MVC.Models.ViewModels.CarModelViewModel


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Car</title>
    <link rel="stylesheet" href="~/css/AddCar.css" asp-append-version="true">
</head>
<body>
    <div class="form-container">
        <h2>Add New Car</h2>
        <form asp-action="AddCar" asp-controller="CarManipulate" method="post">
            <div class="form-group">
                <label asp-for="@Model.BrandName">Brand Name</label>
                <input asp-for="@Model.BrandName" type="text" />
                <span asp-validation-for="@Model.BrandName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.ModelName">Model Name</label>
                <input asp-for="@Model.ModelName" type="text" />
                <span asp-validation-for="@Model.ModelName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Description">Description</label>
                <textarea asp-for="@Model.Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.EngineInformation">Engine Information</label>
                <input asp-for="@Model.EngineInformation" type="text" />
                <span asp-validation-for="@Model.EngineInformation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.YearOfRelease">Year Of Release</label>
                <input asp-for="@Model.YearOfRelease" type="number" />
                <span asp-validation-for="@Model.YearOfRelease" class="text-danger"></span>
            </div>

            <button type="submit" class="submit-button">Add Car</button>
        </form>
    </div>
</body>
</html>
